:root {
    --travis-color-primary: #702963;
    --travis-color-primary-light: #D68FC9;
    --travis-color-primary-dark: #51134A;

    --travis-color-accent: #FFD740;
    --travis-color-accent-light: #FFE57F;
    --travis-color-accent-dark: #FFC400;

    --background-body-color: #FAFAFA;
}