.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

::selection {
    background: rgba(112, 41, 99, 0.54);
}

::-moz-selection {
    background: rgba(112, 41, 99, 0.54);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bgvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-content {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;

    padding: 2em 0em;
}

.top-content .logo, .logo-small {
    max-width: 500px;
    max-height: 500px;

    margin: 0 auto;
    margin-bottom: 2em;
}

.top-content .logo {
    width: 70%;
    height: 70%;
}

.top-content .logo-small {
    width: 50%;
    height: 50%;
}

.top-content .logo {
    display: block;
}

.top-content .logo-small {
    display: none;
}

#cookietoast .close-button {
    text-transform: none;
    color: var(--travis-color-accent);
}

@media (max-width: 768px) {
    .fullscreen-bg {
        background: url('../img/background.jpeg') top left / cover no-repeat;
    }

    .fullscreen-bgvideo {
        display: none;
    }

    .top-content .logo {
        display: none;
    }

    .top-content .logo-small {
        display: block;
    }
}