<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Imports -->
<link rel="import" href="../bower_components/iron-image/iron-image.html">

<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">

<!-- Custom Components -->
<link rel="import" href="navigation-search.html">
<link rel="import" href="side-bar.html">

<!-- Styles -->
<link rel="import" href="../styles/travis-colors.html">
<link rel="import" href="../styles/shared-style.html">
<link rel="import" href="../styles/navigation-style.html">
<link rel="import" href="../styles/diary-entry-style.html">

<dom-module id="diary-entry-page">
    <template>
        <style include="shared-style"></style>
        <style include="navigation-style"></style>
        <style include="diary-entry-style"></style>

        <paper-drawer-panel force-Narrow>
            <paper-header-panel drawer>
                <side-bar></side-bar>
            </paper-header-panel>

            <paper-header-panel class="body-content" main>

                <!-- Navigation Bar -->
                <paper-toolbar class="main-bar">
                    <!-- Sidebar icon -->
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <div class="title">Travis</div>

                    <!-- Search Bar -->
                    <navigation-search id="search"></navigation-search>
                </paper-toolbar>
                <paper-progress id="progress" indeterminate></paper-progress>

                <paper-header-panel id="bodypanel" mode="cover" class="fit">
                    <div class="coloured-block paper-header"></div>
                    <iron-image id="banner" class="paper-header" sizing="cover" preload fade
                                src="[[bannerUrl]]"></iron-image>

                    <!-- Content -->
                    <div class="main-content">
                        <paper-card class="diary-page">

                            <!-- Title and information about entry -->
                            <section class="info-section">
                                <h2>[[title]]</h2>

                                <div class="divider"></div>

                                <p class="secondary-info">by <span class="info-highlight">[[author]]</span></p>
                            </section>

                            <!-- Content of entry -->
                            <section class="content">
                                <template is="dom-repeat" items="[[elements]]">

                                    <!-- Text Element -->
                                    <template is="dom-if" if="[[checkElement('text', item)]]">
                                        <p class="element text-element">[[item.text]]</p>
                                    </template>

                                    <!-- Picture element -->
                                    <template is="dom-if" if="[[checkElement('picture', item)]]">
                                        <iron-image class="element picture-element"
                                                    src="[[formatImageUrl(item.imageUrl)]]"
                                                    sizing="contain"
                                                    preload
                                                    fade>
                                        </iron-image>
                                    </template>

                                    <!-- Location element -->
                                    <template is="dom-if" if="[[checkElement('location', item)]]">
                                        <google-map api-key="AIzaSyAOi4IzmIJSR7JMlZahqLGltX05PaX7db0"
                                                    class="element map-element"
                                                    latitude="[[item.coordinates.latitude]]"
                                                    longitude="[[item.coordinates.longitude]]"
                                                    zoom="13">
                                            <google-map-marker latitude="[[item.coordinates.latitude]]"
                                                               longitude="[[item.coordinates.longitude]]"
                                                               draggable="false"
                                                               animation="DROP">
                                            </google-map-marker>
                                        </google-map>
                                    </template>

                                </template>
                            </section>
                        </paper-card>
                    </div>

                </paper-header-panel>

            </paper-header-panel>
        </paper-drawer-panel>

        <!-- Dialog used for displaying a message, if the user is not signed in properly -->
        <paper-dialog id="notLoggedInDialog" class="travis-dialog" entry-animation="scale-up-animation" modal
                      withBackdrop>
            <h2>Something went wrong!</h2>
            <div>
                Either your session has expired or you are not signed in to Travis. Want to sign in?
            </div>
            <div class="buttons">
                <paper-button dialog-confirm focused on-tap="redirectToSignIn">SIGN IN</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: "diary-entry-page",
            properties: {
                id: Number,
                title: String,
                author: String,
                location: {
                    type: String,
                    observer: '_locationSet'
                },

                bannerUrl: String,

                elements: Array,

                /**
                 * Indicates, whether user is authenticated or not.
                 */
                isAuthenticated: {
                    type: Boolean,
                    value: false
                }
            },

            /**
             * Called after property values are set and local DOM is initialized.
             */
            ready: function () {
                // Get parameters from URL
                var paramID = getParameterByName("id", null);
                var paramTitle = getParameterByName("title", null);
                var paramAuthor = getParameterByName("author", null);
                var paramLocation = getParameterByName("location", null);

                // Check parameters;
                if (!isNaN(paramID) && paramID != null && !isEmptyOrSpaces(paramTitle) && !isEmptyOrSpaces(paramAuthor) && !isEmptyOrSpaces(paramLocation)) {
                    // Set values
                    this.id = parseInt(paramID);
                    this.title = paramTitle.trim();
                    this.author = paramAuthor.trim();
                    this.location = paramLocation.trim();
                } else {
                    // Go back
                    window.history.back();
                    return;
                }

                // Initialize Facebook SDK
                var self = this;
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '424417961088918',
                        cookie: true,
                        xfbml: true,
                        version: 'v2.5',
                    });

                    // Authenticate
                    self.authenticate();
                };
            },

            /**
             * Called on every page load. Checks, if the user is logged into
             * facebook and has a session id.
             */
            authenticate: function () {
                var self = this;

                if (typeof(sessionStorage) !== "undefined" && sessionStorage.getItem(SESSION_ID) != null) {
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            // Execute any further code
                            self.authenticated();
                        } else {
                            // Invalidate
                            self.invalidateSession();

                            // The person is not valid signed in
                            self.redirectToSignIn();
                        }
                    });
                } else {
                    // Invalidate
                    this.invalidateSession();

                    // The person is not valid signed in
                    this.redirectToSignIn();
                }
            },

            /**
             * Removes all session related items out of the session storage.
             */
            invalidateSession: function () {
                // Check, if sessionStorage is available
                if (typeof(sessionStorage) !== "undefined") {
                    sessionStorage.removeItem(SESSION_ID);
                    sessionStorage.removeItem(USER_ID);
                    sessionStorage.removeItem(USER_FIRST_NAME);
                    sessionStorage.removeItem(USER_LAST_NAME);
                    sessionStorage.removeItem(USER_ME_ID);
                }

                // Not authenticated anymore
                this.isAuthenticated = false;

                // Hide Loading Spinner
                this.$.progress.hidden = true;
            },

            /**
             * Called, when the user has been successfully authenticated.
             */
            authenticated: function () {
                // Authenticated
                this.isAuthenticated = true;

                // Load data
                this.load();
            },

            /**
             * Observes the property 'location' for property changes.
             * When the property gets set, the URL for the banner gets set.
             *
             * @param newValue The new value of the property.
             * @param oldValue The old value of the property.
             * @private
             */
            _locationSet: function (newValue, oldValue) {
                if (newValue != null && newValue != "") {
                    var urlPart1 = "https://maps.googleapis.com/maps/api/staticmap?center=";
                    var urlPart2 = "&zoom=12&scale=2&size=640x640&maptype=terrain&key=AIzaSyAOi4IzmIJSR7JMlZahqLGltX05PaX7db0";
                    this.bannerUrl = urlPart1 + newValue + urlPart2;
                }
            },

            /**
             * Loads all diary entry elements of the diary entry.
             */
            load: function () {
                // Check, if authenticated
                if (!this.isAuthenticated) {
                    return;
                }

                // Hide Loading Spinner
                this.$.progress.hidden = false;

                // Get API
                var TRAVIS = require('travis');
                var apiInstance = new TRAVIS.DiaryApi();

                // Callback for response
                var self = this;
                var callback = function (error, data, response) {
                    if (response.forbidden) {
                        // Hide progress bar
                        self.$.progress.hidden = true;

                        // Not valid login
                        self.invalidateSession();
                        self.$.notLoggedInDialog.open();
                        return;
                    }

                    if (response.statusCode == 200 && data != null) {
                        var elems = [];

                        // Get elements
                        elems.push.apply(elems, data.pictureElements);
                        elems.push.apply(elems, data.textElements);
                        elems.push.apply(elems, data.coordinatesElements);

                        // Sort elements
                        elems.sort(function (a, b) {
                            return (a.sort - b.sort);
                        });

                        // Push elements into main array
                        self.elements = [];

                        var idx;
                        for (idx in elems) {
                            self.push('elements', elems[idx]);
                        }
                    }

                    // Hide Loading Spinner
                    self.$.progress.hidden = true;
                };

                // Get elements
                apiInstance.getDiaryElements(this.id, callback);
            },

            /**
             * Appends the base URL of the backend to the image URL provided by the backend.
             *
             * @param imageUrl The URL of an image provided by the backend.
             * @returns {string} A valid URL pointing to an image on the backend.
             */
            formatImageUrl: function (imageUrl) {
                var TRAVIS = require('travis');
                var base = TRAVIS.ApiClient.instance.basePath;
                return base + '/' + imageUrl;
            },

            /**
             * Checks the type of an element.
             *
             * @param type The type, for which the item should be checked.
             * @param item The item that should be checked.
             * @returns {boolean} True, if item equals the provided type, otherwise false.
             */
            checkElement: function (type, item) {
                switch (type) {
                    case 'picture':
                        if (item.hasOwnProperty('imageUrl')) {
                            return true;
                        }
                        break;
                    case 'location':
                        if (item.hasOwnProperty('coordinates') && !item.hasOwnProperty('imageUrl')) {
                            return true;
                        }
                        break;
                    case 'text':
                        if (item.hasOwnProperty('text')
                                && !item.hasOwnProperty('coordinates')
                                && !item.hasOwnProperty('imageUrl')) {
                            return true;
                        }
                        break;
                    default:
                        return false;
                }

                return false;
            },

            /**
             * Redirects the user to the login page.
             */
            redirectToSignIn: function () {
                window.location.replace("index.html");
            }
        });
    </script>
    <script src="../js/facebookSDK.js"></script>
</dom-module>