<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Imports -->
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="facebook-login">
    <style>
        #button {
            background-color: #3B5999;
            color: #FFF;
            text-transform: none !important;
            vertical-align: middle;
        }

        #button #buttonIcon {
            --iron-icon-height: 32px;
            --iron-icon-width: 32px;

            margin-right: 1em;
        }

        #loginSpinner {
            display: block;
            margin: 0 auto;
            margin-top: 1.3em;
        }
    </style>
    <style is="custom-style">
        paper-spinner-lite {
            --paper-spinner-color: #FFF;
        }
    </style>

    <template>
        <paper-button id="button" on-tap="login" raised>
            <iron-icon id="buttonIcon" src="../img/facebook.svg"></iron-icon>
            [[text]]
        </paper-button>
        <paper-spinner-lite id="loginSpinner" alt="Signing in &hellip;"></paper-spinner-lite>
    </template>
    <script>
        Polymer({
            is: "facebook-login",

            properties: {
                /**
                 * Text of the 'Sign in' button
                 */
                text: {
                    type: String,
                    value: "Sign in with Facebook"
                },

                /**
                 * The login type
                 */
                loginType: {
                    type: String,
                    value: "facebook"
                },

                /**
                 * Indicates, whether the Facebook SDK is loaded or not.
                 */
                isSDKLoaded: {
                    type: Boolean,
                    value: false
                }
            },

            /**
             * Called after property values are set and local DOM is initialized.
             */
            ready: function () {
                var self = this;

                // Initialize Facebook SDK
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '424417961088918',
                        cookie: true,
                        xfbml: true,
                        version: 'v2.5'
                    });

                    // Check facebook login status of user
                    FB.getLoginStatus(function (response) {

                        // Check, if signed into Facebook
                        if (response.status === 'connected') {
                            // Check, if Session ID is available
                            if (sessionStorage.getItem(SESSION_ID) != null) {
                                window.location.replace("start.html");
                            }
                        }
                    });

                    // SDK loaded
                    self.isSDKLoaded = true;
                };
            },

            /**
             * Handles the response from Travis Backend on login request.
             */
            handleLoginResponse: function (error, data, response) {
                // Check, if response OK
                if (response.statusCode == 200) {
                    // Store session ID
                    sessionStorage.setItem(SESSION_ID, data.sessionId);
                    sessionStorage.setItem(USER_ME_ID, data.userId)

                    // Navigate to Start Screen
                    window.location.replace("start.html");
                }
            },

            /**
             * Logs the user into Facebook and requests a session ID from Travis Backend.
             */
            login: function () {
                // If SDK is not loaded, stop execution
                if (!this.isSDKLoaded) {
                    return;
                }

                var self = this;

                // Activate Spinner
                this.$.loginSpinner.active = true;

                // Sign into Facebook
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        var token = response.authResponse.accessToken;

                        FB.api('/me?fields=id,first_name,last_name,birthday', function (me) {

                            // Get Travis API
                            var TRAVIS = require('travis');
                            var api = new TRAVIS.AuthenticationApi();
                            var loginRequest = new TRAVIS.LoginRequestDTO();

                            // Create login request
                            loginRequest.loginType = self.loginType;
                            loginRequest.accessToken = token;
                            loginRequest.firstName = me.first_name;
                            loginRequest.lastName = me.last_name;
                            loginRequest.birthday = me.birthday;

                            // Set user information in session storage
                            if (typeof(sessionStorage) !== "undefined") {
                                sessionStorage.setItem(USER_ID, me.id);
                                sessionStorage.setItem(USER_FIRST_NAME, me.first_name);
                                sessionStorage.setItem(USER_LAST_NAME, me.last_name);

                                // Do login
                                api.login(loginRequest, self.handleLoginResponse);
                            }
                        });
                    }
                }, {scope: 'public_profile,user_friends,user_birthday'});
            }
        });
    </script>
    <script src="../js/facebookSDK.js"></script>
</dom-module>