<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Imports -->
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<!-- Styles -->
<link rel="import" href="../styles/travis-colors.html">
<link rel="import" href="../styles/search-style.html">

<dom-module id="navigation-search">
    <style include="search-style"></style>

    <template>
        <!-- Input textfield for search -->
        <div class="search-input-wrapper">
            <input id="searchinput" type="text" name="search" placeholder="Search&hellip;" on-keyup="requestresults">
            <paper-ripple id="search-ripple"></paper-ripple>
        </div>

        <!-- Autocomplete functionality -->
        <paper-material elevation="1" id="suggestionsWrapper">
            <div role="listbox">
                <!-- Template for Suggestions -->
                <template is="dom-repeat" items="[[suggestions]]">
                    <a class="result-link" href="profile.html?id=[[item.id]]" tabindex="-1">
                        <paper-icon-item class="result">
                            <iron-icon class="item-icon" src="[[item.loginImageUrl]]" item-icon></iron-icon>
                            <paper-item-body class="item-body" two-line>
                                <div><span>[[item.firstName]]</span> <span>[[item.lastName]]</span></div>
                            </paper-item-body>
                        </paper-icon-item>
                    </a>
                </template>

                <!-- Hint in case of no search results -->
                <paper-icon-item id="noResults">
                    <iron-icon id="errorIcon" icon="icons:error" item-icon></iron-icon>
                    <paper-item-body>
                        <div>No results found!</div>
                        <div secondary>Check your spelling or try another term.</div>
                    </paper-item-body>
                </paper-icon-item>

                <!-- Link for showing more results (not all are displayed) -->
                <paper-item id="moreResults">
                    <paper-item-body>
                        <div>More results</div>
                        <div secondary>See all results of your search</div>
                    </paper-item-body>
                    <paper-icon-button icon="icons:chevron-right" alt="">
                    </paper-icon-button>
                </paper-item>
            </div>

        </paper-material>

        <!-- Dialog used for displaying a message, if the user is not signed in properly -->
        <paper-dialog id="notLoggedInDialog" class="travis-dialog" entry-animation="scale-up-animation" modal
                      withBackdrop>
            <h2>Something went wrong!</h2>
            <div>
                Either your session has expired or you are not signed in to Travis. Want to sign in?
            </div>
            <div class="buttons">
                <paper-button dialog-confirm focused on-tap="redirectToSignIn">SIGN IN</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: "navigation-search",

            properties: {
                /**
                 * Contains the search results that are displayed to the user.
                 */
                suggestions: Array,

                /**
                 * The current page of loaded data (used for paging).
                 */
                page: {
                    type: Number,
                    value: 0
                },

                /**
                 * Number of items that should be requested per request.
                 */
                pageSize: {
                    type: Number,
                    value: 5
                },
            },

            /**
             * Removes all session related items out of the session storage.
             */
            invalidateSession: function () {
                // Check, if sessionStorage is available
                if (typeof(sessionStorage) !== "undefined") {
                    sessionStorage.removeItem(SESSION_ID);
                    sessionStorage.removeItem(USER_ID);
                    sessionStorage.removeItem(USER_FIRST_NAME);
                    sessionStorage.removeItem(USER_LAST_NAME);
                    sessionStorage.removeItem(USER_ME_ID);
                }
            },

            /**
             * Hides the suggestions box.
             */
            hideSuggestions: function () {
                this.$.suggestionsWrapper.style.display = "none";
            },

            /**
             * Shows the suggestions box
             */
            showSuggestions: function () {
                this.$.suggestionsWrapper.style.display = "block";
            },

            /**
             * Requests a list of users from the backend that match the search text.
             */
            requestresults: function () {
                this.suggestions = [];

                var self = this;
                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        // Get search text
                        var searchText = self.$.searchinput.value;

                        // Check, if searchText is valid
                        if (searchText != "") {
                            // Get API
                            var Travis = require('travis');
                            var apiInstance = new Travis.SearchApi();

                            // Set request data
                            var sessionId = sessionStorage.getItem(SESSION_ID);
                            var opts = {
                                'sessionId': sessionId,
                                'page': self.page,
                                'pageSize': self.pageSize,
                                'pImgWidth': 96,
                                'pImgHeight': 96
                            };

                            // Callback
                            var callback = function (error, data, response) {
                                if (response.forbidden) {
                                    // Not valid login
                                    self.invalidateSession();
                                    self.$.notLoggedInDialog.open();
                                    return;
                                }

                                if (response.statusCode == 200) {
                                    // Load data from response into entries array
                                    self.fill(data);
                                }
                            };

                            // Send request
                            apiInstance.getUserSearch(searchText, opts, callback);
                        } else {
                            // Hide suggestions
                            self.hideSuggestions();
                        }

                    } else {
                        // If not signed in
                        self.$.notLoggedInDialog.open();
                    }
                });
            },

            /**
             * Fills the suggestions array with data from the response from the backend.
             *
             * @param data The data containing the search results.
             */
            fill: function (data) {
                this.suggestions = [];

                // Hide 'No Results' hint
                this.$.noResults.style.display = "none";

                // Check, if data is OK
                if (data != null && data.length > 0) {
                    // Push items into array (used for displaying data)
                    var idx;
                    for (idx in data) {
                        this.push('suggestions', data[idx]);
                    }
                } else {
                    // Show 'No Results' hint
                    this.$.noResults.style.display = "flex";
                }

                this.showSuggestions();
            },

            /**
             * Redirects the user to the login page.
             */
            redirectToSignIn: function () {
                window.location.replace("index.html");
            }

        });

        // Close Suggestions of search if clicked outside
        document.addEventListener('click', function (event) {
            if (!$(event.target).closest('#suggestionsWrapper').length) {
                var overlay = document.getElementById("suggestionsWrapper");
                if (overlay != null) {
                    overlay.style.display = "none";
                }
            }
        });
    </script>
</dom-module>