<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Imports -->
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<!-- Styles -->
<link rel="import" href="../styles/travis-colors.html">
<link rel="import" href="../styles/shared-style.html">
<link rel="import" href="../styles/start-entry-style.html">
<link rel="import" href="../styles/start-entry-picture-style.html">

<dom-module id="picture-entry">
    <template>
        <style include="shared-style"></style>
        <style include="start-entry-style"></style>
        <style include="start-entry-picture-style"></style>

        <paper-card class="entry">
            <!-- Content -->
            <div class="card-content">

                <!-- Header -->
                <div class="profile-info no-select">
                    <div class="profile-info-img-container" on-tap="goToUserProfile">
                        <iron-image class="profile-info-img" src="{{authorImageUrl}}" sizing="cover" preload
                                    fade></iron-image>
                    </div>
                    <div class="profile-info-text" on-tap="goToUserProfile">
                        <p class="profile-info-author">{{authorFirstname}} <span>{{authorLastname}}</span></p>
                        <p class="profile-info-date">{{formatDate(entryCreated)}}</p>
                    </div>
                </div>

                <!-- Entry -->
                <div class="entry-content" on-tap="openDiaryEntry">
                    <iron-image class="entry-image" src="{{formatImageUrl(imageUrl)}}" sizing="cover" preload
                                fade></iron-image>
                    <div class="entry-info no-select">
                        <h2 class="entry-title">{{title}}</h2>
                        <h3 class="entry-subtitle">{{locationName}}</h3>
                    </div>
                </div>
            </div>

            <!-- Actions -->
            <div class="card-actions no-select">
                <paper-icon-button icon="favorite"></paper-icon-button>
                <paper-icon-button icon="social:share"></paper-icon-button>
                <paper-icon-button icon="communication:chat-bubble"></paper-icon-button>
                <span class="comment-count">{{commentCount}}</span>
            </div>

        </paper-card>
    </template>
</dom-module>

<script>
    Polymer({
        is: "picture-entry",

        properties: {
            authorImageUrl: String,
            authorId: Number,
            authorFirstname: String,
            authorLastname: String,

            entryId: Number,
            entryCreated: String,

            imageUrl: String,
            title: String,
            locationName: String,
            locationLon: Number,
            locationLat: Number,

            commentCount: Number
        },

        /**
         * Formats an ISO 8601 date string depending on the locale of the user.
         *
         * @param dateTime A date string in ISO 8601 format.
         * @returns {string} A location specific Date String.
         */
        formatDate: function (dateTime) {
            var date = moment(dateTime, moment.ISO_8601);
            return date.format('lll');
        },

        /**
         * Appends the base URL of the backend to the image URL provided by the backend.
         *
         * @param imageUrl The URL of an image provided by the backend.
         * @returns {string} A valid URL pointing to an image on the backend.
         */
        formatImageUrl: function (imageUrl) {
            var TRAVIS = require('travis');
            var base = TRAVIS.ApiClient.instance.basePath;
            return base + '/' + imageUrl;
        },

        /**
         * Redirects the user to the profile page of the author.
         *
         * @param e A tap event.
         */
        goToUserProfile: function (e) {
            window.location.href = "profile.html?id=" + this.authorId;
        },

        /**
         * Redirects the user to the page of the diary entry.
         *
         * @param e A tap event.
         */
        openDiaryEntry: function (e) {
            // Create URL
            var url = "diary.html?id=" + this.entryId +
                    "&title=" + this.title +
                    "&author=" + this.authorFirstname + " " + this.authorLastname +
                    "&location=" + this.locationName;

            // Encode URL
            var parsed = encodeURI(url);

            // Open URL
            window.location.href = parsed;
        }
    });
</script>