<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Imports -->
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">

<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<!-- Custom Components -->
<link rel="import" href="navigation-search.html">
<link rel="import" href="side-bar.html">
<link rel="import" href="picture-entry.html">
<link rel="import" href="location-entry.html">
<link rel="import" href="text-entry.html">

<!-- Styles -->
<link rel="import" href="../styles/travis-colors.html">
<link rel="import" href="../styles/shared-style.html">
<link rel="import" href="../styles/navigation-style.html">
<link rel="import" href="../styles/profile-style.html">

<dom-module id="profile-page">
    <template>
        <style include="shared-style"></style>
        <style include="navigation-style"></style>
        <style include="profile-style"></style>

        <paper-drawer-panel force-Narrow>
            <paper-header-panel drawer>
                <side-bar></side-bar>
            </paper-header-panel>

            <paper-header-panel class="body-content" main>

                <!-- Navigation Bar -->
                <paper-toolbar class="main-bar">
                    <!-- Sidebar icon -->
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <div class="title">Travis</div>

                    <!-- Search Bar -->
                    <navigation-search id="search"></navigation-search>
                </paper-toolbar>
                <paper-progress id="progress" indeterminate></paper-progress>

                <paper-header-panel id="bodypanel" mode="cover" class="fit">
                    <iron-image id="profile-banner" class="paper-header" sizing="cover" preload fade
                                src="[[bannerUrl]]"></iron-image>

                    <!-- Content -->
                    <div class="main-content">

                        <!-- Main Info -->
                        <paper-card id="main-info">
                            <div class="card-content">

                                <div class="profile-info-img-container">
                                    <iron-image id="profilePic" src="[[imageUrl]]" sizing="cover" preload
                                                fade></iron-image>
                                </div>

                                <h2 id="username"><span>[[firstName]]</span> <span>[[lastName]]</span></h2>
                                <p id="quote" hidden>[[quote]]</p>

                                <paper-button id="currentLocation" class="current-location-button" hidden>
                                    <iron-icon class="current-location-icon" icon="maps:place"></iron-icon>
                                    [[currentLocation]]
                                </paper-button>
                            </div>
                        </paper-card>

                        <!-- Follower Info -->
                        <paper-card id="follower-info">
                            <aside id="follower-box">
                                <p class="follower-info-num no-select">[[follower]]</p>
                                <p class="follower-info-caption no-select">Follower</p>
                                <paper-ripple class="primary-ripple"></paper-ripple>
                            </aside>
                            <aside id="posts-box">
                                <p class="follower-info-num no-select">[[posts]]</p>
                                <p class="follower-info-caption no-select">Posts</p>
                                <paper-ripple class="primary-ripple"></paper-ripple>
                            </aside>
                            <section id="following-box">
                                <p class="follower-info-num no-select">[[following]]</p>
                                <p class="follower-info-caption no-select">Following</p>
                                <paper-ripple class="primary-ripple"></paper-ripple>
                            </section>
                        </paper-card>

                        <!-- User Info -->
                        <section id="user-info">
                            <paper-card id="user-info-main">
                                <div role="listbox">

                                    <!-- Age -->
                                    <paper-icon-item class="item-group-end">
                                        <iron-icon icon="face" item-icon></iron-icon>
                                        <paper-item-body>
                                            <div class="value">[[age]]</div>
                                            <div secondary class="no-select key">Age</div>
                                        </paper-item-body>
                                    </paper-icon-item>

                                    <!-- From Location -->
                                    <paper-icon-item>
                                        <iron-icon icon="maps:place" item-icon></iron-icon>
                                        <paper-item-body>
                                            <div class="value">[[homeLocation]]</div>
                                            <div secondary class="no-select key">Home town</div>
                                        </paper-item-body>
                                    </paper-icon-item>

                                    <!-- Next Location -->
                                    <paper-icon-item>
                                        <iron-icon item-icon></iron-icon>
                                        <paper-item-body>
                                            <div class="value">[[nextLocation]]</div>
                                            <div secondary class="no-select key">Next place</div>
                                        </paper-item-body>
                                    </paper-icon-item>

                                </div>
                            </paper-card>

                            <paper-card id="user-info-about" heading="About me">
                                <div class="card-content">
                                    <p id="about">
                                        [[about]]
                                    </p>
                                </div>
                                <div class="card-actions">
                                    <paper-button id="facebookButton" on-tap="openFBProfile">More on Facebook
                                    </paper-button>
                                </div>
                            </paper-card>
                        </section>

                        <div class="clearer"></div>
                        <div class="entries no-select">
                            <h2>Diary</h2>
                            <p id="emptyText" hidden="[[isEmpty]]">No recent entries</p>

                            <template is="dom-repeat" items="[[entries]]">
                                <!-- Entry type is 'picture entry'  -->
                                <template is="dom-if" if="[[checkEntry('picture', item)]]">
                                    <picture-entry
                                            author-image-url="[[imageUrl]]"
                                            author-id="[[userID]]"
                                            author-firstname="[[firstName]]"
                                            author-lastname="[[lastName]]"

                                            entry-id="[[item.id]]"
                                            entry-created="[[item.createdTime]]"
                                            title="[[item.name]]"
                                            image-url="[[item.pictureElement.imageUrl]]"

                                            location-name="[[item.location.name]]"
                                            location-lon="[[item.location.longitude]]"
                                            location-lat="[[item.location.latitude]]"
                                            comment-count="[[item.commentCount]]">
                                    </picture-entry>
                                </template>

                                <!-- Entry type is 'location entry' -->
                                <template is="dom-if" if="[[checkEntry('location', item)]]">
                                    <location-entry
                                            author-image-url="[[imageUrl]]"
                                            author-id="[[userID]]"
                                            author-firstname="[[firstName]]"
                                            author-lastname="[[lastName]]"

                                            entry-id="[[item.id]]"
                                            entry-created="[[item.createdTime]]"

                                            lat="[[item.coordinatesElement.coordinates.latitude]]"
                                            lon="[[item.coordinatesElement.coordinates.longitude]]"
                                            title="[[item.name]]"

                                            location-name="[[item.location.name]]"
                                            location-lon="[[item.location.longitude]]"
                                            location-lat="[[item.location.latitude]]"
                                            comment-count="[[item.commentCount]]">
                                    </location-entry>
                                </template>

                                <!-- Entry type is 'text entry' -->
                                <template is="dom-if" if="[[checkEntry('text', item)]]">
                                    <text-entry
                                            author-image-url="[[imageUrl]]"
                                            author-id="[[userID]]"
                                            author-firstname="[[firstName]]"
                                            author-lastname="[[lastName]]"

                                            entry-id="[[item.id]]"
                                            entry-created="[[item.createdTime]]"
                                            title="[[item.name]]"
                                            text="[[item.textElement.text]]"

                                            location-name="[[item.location.name]]"
                                            location-lon="[[item.location.longitude]]"
                                            location-lat="[[item.location.latitude]]"
                                            comment-count="[[item.commentCount]]">
                                    </text-entry>
                                </template>
                            </template>
                            <paper-spinner-lite id="loadingSpinner" active="[[isLoading]]"></paper-spinner-lite>
                        </div>
                    </div>

                    <iron-scroll-threshold id="threshold" lower-threshold="200" on-lower-threshold="loadEntries">
                    </iron-scroll-threshold>

                </paper-header-panel>

                <paper-fab id="editProfileFab"
                           class="bottomFab"
                           icon="[[fabIconName]]"
                           hidden="[[isOwnUser]]"
                           on-tap="followUser">
                </paper-fab>

            </paper-header-panel>
        </paper-drawer-panel>

        <paper-toast id="followtoast" text="[[toastMessage]]"></paper-toast>

        <!-- Dialog used for displaying a message, if the user is not signed in properly -->
        <paper-dialog id="notLoggedInDialog" class="travis-dialog" entry-animation="scale-up-animation" modal
                      withBackdrop>
            <h2>Something went wrong!</h2>
            <div>
                Either your session has expired or you are not signed in to Travis. Want to sign in?
            </div>
            <div class="buttons">
                <paper-button dialog-confirm focused on-tap="redirectToSignIn">SIGN IN</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "profile-page",

            properties: {

                userID: Number,

                firstName: String,
                lastName: String,
                birthday: {
                    type: String,
                    observer: '_calcAge'
                },
                age: String,

                currentLocation: {
                    type: String,
                    observer: '_currentLocationSet'
                },

                homeLocation: String,
                nextLocation: String,

                quote: String,
                about: String,

                follower: Number,
                following: Number,
                posts: {
                    type: Number,
                    value: 0
                },
                follow: Boolean,

                imageUrl: String,
                fbProfileUrl: String,

                /**
                 * The current page of loaded data (used for paging).
                 */
                page: {
                    type: Number,
                    value: 0
                },

                /**
                 * Number of items that should be requested per page.
                 */
                pageSize: {
                    type: Number,
                    value: 10
                },

                /**
                 * Holds all loaded entries.
                 */
                entries: {
                    type: Array,
                    value: []
                },

                bannerUrl: String,

                /**
                 * Indicates, whether page is in entry loading mode.
                 */
                isLoading: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates, whether user is authenticated or not.
                 */
                isAuthenticated: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates, whether the profile has been loaded or not.
                 */
                isProfileLoaded: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates, whether entries are available or not.
                 */
                isEmpty: {
                    type: Boolean,
                    value: true
                },

                /**
                 * Indicates, whether the displayed user profile is one's own.
                 */
                isOwnUser: {
                    type: Boolean,
                    value: true
                },

                /**
                 * Name of the icon of the FAB.
                 */
                fabIconName: {
                    type: String,
                    value: "social:person-add"
                },

                /**
                 * Message of the 'follow' toast.
                 */
                toastMessage: String
            },

            /**
             * Called after property values are set and local DOM is initialized.
             */
            ready: function () {
                // Set the scroll target for dynamic loading of content
                this.$.threshold.scrollTarget = this.$.bodypanel.scroller;

                // Get user ID from URL
                var paramID = getParameterByName("id", null);
                if (!isNaN(paramID) && paramID != null) {
                    // Set ID
                    this.userID = parseInt(paramID);
                } else {
                    if (typeof(sessionStorage) !== 'undefined') {
                        // Set id of to own id
                        this.userID = sessionStorage.getItem(USER_ME_ID);
                    } else {
                        // Invalidate
                        this.invalidateSession();

                        // Go to login
                        window.location.href = "index.html";
                    }
                }

                // Initialize Facebook SDK
                var self = this;
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '424417961088918',
                        cookie: true,
                        xfbml: true,
                        version: 'v2.5',
                    });

                    // When Facebook SDK is loaded, execute following method
                    self.authenticate();
                };
            },

            /**
             * Called on every page load. Checks, if the user is logged into
             * facebook and has a session id.
             */
            authenticate: function () {
                var self = this;

                if (typeof(sessionStorage) !== "undefined" && sessionStorage.getItem(SESSION_ID) != null) {
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            // Execute any further code
                            self.authenticated();
                        } else {
                            // Invalidate
                            self.invalidateSession();

                            // The person is not valid signed in
                            self.redirectToSignIn();
                        }
                    });
                } else {
                    // Invalidate
                    this.invalidateSession();

                    // The person is not valid signed in
                    this.redirectToSignIn();
                }
            },

            /**
             * Removes all session related items out of the session storage.
             */
            invalidateSession: function () {
                // Check, if sessionStorage is available
                if (typeof(sessionStorage) !== "undefined") {
                    sessionStorage.removeItem(SESSION_ID);
                    sessionStorage.removeItem(USER_ID);
                    sessionStorage.removeItem(USER_FIRST_NAME);
                    sessionStorage.removeItem(USER_LAST_NAME);
                    sessionStorage.removeItem(USER_ME_ID);
                }

                // Not authenticated anymore
                this.isAuthenticated = false;

                // Hide Loading Spinner
                this.isLoading = false;
            },

            /**
             * Called, when the user has been successfully authenticated.
             */
            authenticated: function () {
                // Authenticated
                this.isAuthenticated = true;

                // Load data
                this.loadProfile();
            },

            /**
             * Observes the property 'currentLocation' for property changes.
             * When the property gets set, the URL for the banner gets set.
             *
             * @param newValue The new value of the property.
             * @param oldValue The old value of the property.
             * @private
             */
            _currentLocationSet: function (newValue, oldValue) {
                if (newValue != null && newValue != "") {
                    var urlPart1 = "https://maps.googleapis.com/maps/api/staticmap?center=";
                    var urlPart2 = "&zoom=12&scale=2&size=640x640&maptype=terrain&key=AIzaSyAOi4IzmIJSR7JMlZahqLGltX05PaX7db0";
                    this.bannerUrl = urlPart1 + newValue + urlPart2;
                }
            },

            /**
             * Loads the user's profile from the Travis backend.
             */
            loadProfile: function () {
                // Check, if user is authenticated
                if (!this.isAuthenticated) {
                    return;
                }

                var self = this;

                // Get API
                var TRAVIS = require('travis');
                var api = new TRAVIS.UserInfoApi();

                // Generate Request
                var imgOpts = {
                    'pImgWidth': 250,
                    'pImgHeight': 250
                };

                // Callback for response
                var callback = function (error, data, response) {
                    if (response.forbidden) {
                        // Hide progress bar
                        self.$.progress.hidden = true;

                        // Not valid login
                        self.invalidateSession();
                        self.$.notLoggedInDialog.open();
                        return;
                    }

                    // Set all properties of the user's profile
                    if (response.statusCode == 200 && data != null) {
                        self.imageUrl = data.loginImageUrl;
                        self.fbProfileUrl = data.loginProfileUrl;

                        self.firstName = data.firstName;
                        self.lastName = data.lastName;
                        self.birthday = data.birthday;

                        self.follower = data.followers;
                        self.following = data.following;

                        if (data.currentLocation != undefined) {
                            self.currentLocation = data.currentLocation.name;
                            self.$.currentLocation.hidden = false;
                        } else {
                            self.$.currentLocation.hidden = true;
                        }

                        if (data.homeLocation != undefined) {
                            self.homeLocation = data.homeLocation.name;
                        } else {
                            self.homeLocation = "Not available.";
                        }

                        if (data.nextLocation != undefined) {
                            self.nextLocation = data.nextLocation.name;
                        } else {
                            self.nextLocation = "Not available.";
                        }

                        if (data.shortText != undefined) {
                            self.quote = data.shortText;
                            self.$.quote.hidden = false;
                        } else {
                            self.$.quote.hidden = true;
                        }

                        if (data.longText != undefined) {
                            self.about = data.longText;
                        }

                        self.follow = data.follow;

                        if (self.follow) {
                            self.fabIconName = "social:group";
                        }

                        // Check, if it's own user
                        if (typeof(sessionStorage) !== 'undefined' && self.userID != sessionStorage.getItem(USER_ME_ID)) {
                            self.isOwnUser = false
                        }

                        // Set profile loaded
                        self.isProfileLoaded = true;

                        // Load diary entries
                        self.loadEntries();
                    }

                    // Hide progress bar
                    self.$.progress.hidden = true;
                }

                // Get Session ID
                var sessionID = sessionStorage.getItem(SESSION_ID);
                if (sessionID != null) {
                    // Send request
                    api.getProfile(sessionID, self.userID, imgOpts, callback);
                } else {
                    // Invalidate
                    self.invalidateSession();

                    // The person is not valid signed in
                    self.redirectToSignIn();
                }
            },

            /**
             * Loads the diary entries of the user.
             */
            loadEntries: function () {
                // Check, if the user is not authenticated.
                if (!this.isAuthenticated || !this.isProfileLoaded) {
                    this.$.threshold.clearTriggers();
                    return;
                }

                // Show Loading Spinner
                this.isLoading = true;

                // Check, if user is still signed in to Facebook
                var self = this;
                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        // Get API
                        var TRAVIS = require('travis');
                        var apiInstance = new TRAVIS.UserInfoApi();

                        // Get session
                        var sessionId = sessionStorage.getItem(SESSION_ID);

                        // Set request options
                        var opts = {
                            'sessionId': sessionId,
                            'page': self.page,          // page for paging (starts with 0)
                            'pageSize': self.pageSize,  // pageSize for paging
                        };

                        // Callback for response
                        var callback = function (error, data, response) {
                            if (response.forbidden) {
                                // Not valid login
                                self.invalidateSession();
                                self.$.notLoggedInDialog.open();
                                return;
                            }

                            if (response.statusCode == 200) {
                                // Load data from response into entries array
                                self.fill(data);
                            }
                        }

                        var x = self.userID;

                        // Get data
                        apiInstance.getUserDiaryEntries(x, opts, callback);
                    } else {
                        // Not valid login
                        self.invalidateSession();
                        self.$.notLoggedInDialog.open();
                        return;
                    }
                });
            },

            /**
             * Invoked, when a response on data request arrives from the backend.
             *
             * @param error An error message, if an error occurred.
             * @param data The data part of the response
             * @param response The actual response
             */
            fill: function (data) {
                // Hide Loading Spinner
                this.isLoading = false;

                // Check, if data is OK
                if (data != null && data.length > 0) {

                    // Push items into array (used for displaying data)
                    var idx;
                    for (idx in data) {
                        this.push('entries', data[idx]);
                    }

                    // Increment next load size (for paging)
                    this.page += 1;

                    // Disable 'Empty screen' (only visible, when no entries available)
                    this.isEmpty = true;
                } else {
                    if (this.entries.length == 0) {
                        // If no entries are available, display 'Empty screen'
                        this.isEmpty = false;
                    }
                }

                // Clear Scrolling Threshold Triggers
                this.$.threshold.clearTriggers();
            },

            /**
             * Checks the type of an entry.
             *
             * @param type The type, for which the item should be checked.
             * @param item The item that should be checked.
             * @returns {boolean} True, if item equals the provided type, otherwise false.
             */
            checkEntry: function (type, item) {
                switch (type) {
                    case 'picture':
                        if (item.hasOwnProperty('pictureElement')) {
                            return true;
                        }
                        break;
                    case 'location':
                        if (item.hasOwnProperty('coordinatesElement') && !item.hasOwnProperty('pictureElement')) {
                            return true;
                        }
                        break;
                    case 'text':
                        if (item.hasOwnProperty('textElement')
                                && !item.hasOwnProperty('coordinatesElement')
                                && !item.hasOwnProperty('pictureElement')) {
                            return true;
                        }
                        break;
                    default:
                        return false;
                }

                return false;
            },

            /**
             * Follows or unfollows the user based on the current state of 'follow' property.
             *
             * @param e A tap event
             */
            followUser: function (e) {
                if (this.userID != sessionStorage.getItem(USER_ME_ID)) {
                    // Get API
                    var Travis = require('travis');
                    var apiInstance = new Travis.UserUpdateApi();

                    // Get session
                    var sessionId = sessionStorage.getItem(SESSION_ID);

                    // Callback for response
                    var self = this;
                    var callback = function (error, data, response) {
                        if (response.forbidden) {
                            // Not valid login
                            self.invalidateSession();
                            self.$.notLoggedInDialog.open();
                            return;
                        }

                        if (response.statusCode == 204) {

                            // Set display message
                            if (self.follow) {
                                self.follow = false;
                                self.fabIconName = "social:person-add";
                                self.follower--;

                                self.toastMessage = "You are no more following " + self.firstName + " " + self.lastName + ".";
                            } else {
                                self.follow = true;
                                self.fabIconName = "social:group";
                                self.follower++;

                                self.toastMessage = "You are following " + self.firstName + " " + self.lastName + " now.";
                            }

                            // Display toast
                            self.$.followtoast.open();
                        }
                    };

                    // Toggle follow state and set corresponding icon
                    if (this.follow) {
                        apiInstance.deleteFollowUser(sessionId, this.userID, callback);
                    } else {
                        apiInstance.postFollowUser(sessionId, this.userID, callback);
                    }
                }
            },

            /**
             * Opens the Facebook Profile of the user in a new tab.
             *
             * @param e A tap event.
             */
            openFBProfile: function (e) {
                var win = window.open(this.fbProfileUrl, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                }
            },

            /**
             * Observes the 'Birthday' property on 'Property Change events'.
             *
             * @param newValue The new value of the property.
             * @param oldValue The old value of the property.
             */
            _calcAge: function (newValue, oldValue) {
                if (newValue != null && newValue != "0000-00-00") {
                    var birth = moment(newValue, moment.ISO_8601);
                    var now = moment();
                    this.age = now.diff(birth, 'years');
                } else {
                    this.age = "Not available.";
                }
            },

            /**
             * Redirects the user to the login page.
             */
            redirectToSignIn: function () {
                window.location.replace("index.html");
            }
        });
    </script>
    <script src="../js/facebookSDK.js"></script>
</dom-module>