<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Imports -->
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<!-- Styles -->
<link rel="import" href="../styles/travis-colors.html">
<link rel="import" href="../styles/shared-style.html">
<link rel="import" href="../styles/side-bar-style.html">

<dom-module id="side-bar">
    <template>
        <style include="shared-style"></style>
        <style include="side-bar-style"></style>

        <div class="side-bar-wrapper no-select">

            <!-- Top section (Banner, User image and Name) -->
            <div class="side-bar-top" on-tap="goToProfile">
                <iron-image id="sideBarBanner"
                            src="https://maps.googleapis.com/maps/api/staticmap?center=0,0&zoom=1&scale=2&size=640x640&maptype=terrain&key=AIzaSyAOi4IzmIJSR7JMlZahqLGltX05PaX7db0"
                            sizing="cover"
                            preload
                            fade></iron-image>

                <div class="top-content">
                    <div class="profile-img-wrapper">
                        <iron-image src="[[imageUrl]]" sizing="cover" preload fade></iron-image>
                    </div>
                    <p id="side-user-name"><span>[[firstName]]</span> <span>[[lastName]]</span></p>
                </div>
                <paper-ripple></paper-ripple>
            </div>

            <!-- Main buttons of the sidebar -->
            <div class="button-section" role="listbox">
                <paper-icon-item on-tap="goToStart">
                    <iron-icon icon="explore" item-icon></iron-icon>
                    Start
                </paper-icon-item>
                <paper-icon-item on-tap="goToProfile">
                    <iron-icon icon="account-circle" item-icon></iron-icon>
                    Profile
                </paper-icon-item>
            </div>

            <!-- Buttons displayed in the bottom -->
            <div class="bottom-section" role="listbox">
                <paper-icon-item on-tap="signOut">
                    <iron-icon icon="exit-to-app" item-icon></iron-icon>
                    Sign out
                </paper-icon-item>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "side-bar",
        properties: {
            /**
             * The URL to the user image of the signed in user.
             */
            imageUrl: String,

            /**
             * The first name of the signed in user.
             */
            firstName: String,

            /**
             * The last name of the signed in user.
             */
            lastName: String,

            /**
             * The Facebook ID of the signed in user.
             */
            userId: {
                type: Number,
                observer: '_makeURL'
            }
        },

        /**
         * Called after property values are set and local DOM is initialized.
         */
        ready: function () {
            // Set values of the properties
            if (typeof(sessionStorage) !== "undefined") {
                this.userId = sessionStorage.getItem(USER_ID);
                this.firstName = sessionStorage.getItem(USER_FIRST_NAME);
                this.lastName = sessionStorage.getItem(USER_LAST_NAME);
            }
        },

        /**
         * Observes the property 'userId' for property changes.
         * When the property gets set, the URL for the user image gets set.
         *
         * @param newValue The new value of the property.
         * @param oldValue The old value of the property.
         * @private
         */
        _makeURL: function (newValue, oldValue) {
            if (newValue != null) {
                this.imageUrl = "https://graph.facebook.com/" + newValue + "/picture?width=128&height=128";
            }
        },

        /**
         * Redirects the user to the Start Screen.
         *
         * @param e The event object.
         */
        goToStart: function (e) {
            window.location.href = "start.html";
        },

        /**
         * Redirects the user to the Profile page.
         *
         * @param e The event object.
         */
        goToProfile: function (e) {
            window.location.href = "profile.html";
        },

        /**
         * Signs out the user and redirects the user to the Login page.
         *
         * @param e The event object.
         */
        signOut: function (e) {
            var self = this;

            // Sign out of from Facebook
            FB.logout(function (response) {
                // Get API
                var TRAVIS = require('travis');
                var apiInstance = new TRAVIS.AuthenticationApi();

                // Get sessionID
                var sessionId = sessionStorage.getItem(SESSION_ID);
                if (typeof(sessionStorage) === "undefined" || sessionId == null) {
                    // Invalidate
                    self.invalidateSession();

                    // Redirect to login page
                    window.location.href = "index.html";
                    return;
                }

                // Callback function for response
                var callback = function (error, data, response) {
                    // Invalidate
                    self.invalidateSession();

                    // Redirect
                    window.location.href = "index.html";
                };

                // Sign out
                apiInstance.logout(sessionId, callback);
            });
        },

        /**
         * Removes all session related items out of the session storage.
         */
        invalidateSession: function () {
            // Check, if sessionStorage is available
            if (typeof(sessionStorage) !== "undefined") {
                sessionStorage.removeItem(SESSION_ID);
                sessionStorage.removeItem(USER_ID);
                sessionStorage.removeItem(USER_FIRST_NAME);
                sessionStorage.removeItem(USER_LAST_NAME);
                sessionStorage.removeItem(USER_ME_ID);
            }
        }
    });
</script>
