<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Imports -->
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<!-- Custom Components -->
<link rel="import" href="navigation-search.html">
<link rel="import" href="picture-entry.html">
<link rel="import" href="text-entry.html">
<link rel="import" href="location-entry.html">
<link rel="import" href="side-bar.html">

<!-- Styles -->
<link rel="import" href="../styles/travis-colors.html">
<link rel="import" href="../styles/shared-style.html">
<link rel="import" href="../styles/navigation-style.html">
<link rel="import" href="../styles/start-screen-style.html">

<dom-module id="start-screen-page">
    <template>
        <style include="shared-style"></style>
        <style include="navigation-style"></style>
        <style include="start-screen-style"></style>

        <paper-drawer-panel force-Narrow>
            <paper-header-panel class="sidebar" drawer>
                <side-bar></side-bar>
            </paper-header-panel>

            <paper-header-panel id="bodypanel" class="body-content" main>

                <!-- Navigation Bar -->
                <paper-toolbar class="main-bar">
                    <!-- Sidebar icon -->
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <div class="title">Travis</div>
                    <!-- Search Bar -->
                    <navigation-search id="search"></navigation-search>
                </paper-toolbar>

                <!-- Content -->
                <div class="main-content no-select">

                    <!-- Displayed, when no content is available -->
                    <div id="emptyView" hidden="[[isEmpty]]">
                        <iron-icon icon="explore"></iron-icon>
                        <h2 id="emptyTitle">Your dream starts here</h2>
                        <h3 id="emptySubtitle">Follow some travellers!</h3>
                    </div>

                    <template is="dom-repeat" items="[[entries]]">

                        <!-- Entry type is 'picture entry' -->
                        <template is="dom-if" if="[[checkEntry('picture', item)]]">
                            <picture-entry
                                    author-image-url="{{item.user.loginImageUrl}}"
                                    author-id="{{item.user.id}}"
                                    author-firstname="{{item.user.firstName}}"
                                    author-lastname="{{item.user.lastName}}"

                                    entry-id="{{item.diaryEntry.id}}"
                                    entry-created="{{item.diaryEntry.createdTime}}"
                                    title="{{item.diaryEntry.name}}"
                                    image-url="{{item.diaryEntry.pictureElement.imageUrl}}"

                                    location-name="{{item.diaryEntry.location.name}}"
                                    location-lon="{{item.diaryEntry.location.longitude}}"
                                    location-lat="{{item.diaryEntry.location.latitude}}"
                                    comment-count="{{item.diaryEntry.commentCount}}">
                            </picture-entry>
                        </template>

                        <!-- Entry type is 'location entry' -->
                        <template is="dom-if" if="[[checkEntry('location', item)]]">
                            <location-entry
                                    author-image-url="{{item.user.loginImageUrl}}"
                                    author-id="{{item.user.id}}"
                                    author-firstname="{{item.user.firstName}}"
                                    author-lastname="{{item.user.lastName}}"

                                    entry-id="{{item.diaryEntry.id}}"
                                    entry-created="{{item.diaryEntry.createdTime}}"

                                    lat="{{item.diaryEntry.coordinatesElement.coordinates.latitude}}"
                                    lon="{{item.diaryEntry.coordinatesElement.coordinates.longitude}}"
                                    title="{{item.diaryEntry.name}}"

                                    location-name="{{item.diaryEntry.location.name}}"
                                    location-lon="{{item.diaryEntry.location.longitude}}"
                                    location-lat="{{item.diaryEntry.location.latitude}}"
                                    comment-count="{{item.diaryEntry.commentCount}}">
                            </location-entry>
                        </template>

                        <!-- Entry type is 'text entry' -->
                        <template is="dom-if" if="[[checkEntry('text', item)]]">
                            <text-entry
                                    author-image-url="{{item.user.loginImageUrl}}"
                                    author-id="{{item.user.id}}"
                                    author-firstname="{{item.user.firstName}}"
                                    author-lastname="{{item.user.lastName}}"

                                    entry-id="{{item.diaryEntry.id}}"
                                    entry-created="{{item.diaryEntry.createdTime}}"
                                    title="{{item.diaryEntry.name}}"
                                    text="{{item.diaryEntry.textElement.text}}"

                                    location-name="{{item.diaryEntry.location.name}}"
                                    location-lon="{{item.diaryEntry.location.longitude}}"
                                    location-lat="{{item.diaryEntry.location.latitude}}"
                                    comment-count="{{item.diaryEntry.commentCount}}">
                            </text-entry>
                        </template>
                    </template>
                    <paper-spinner-lite id="loadingSpinner" active="{{isLoading}}"></paper-spinner-lite>
                </div>

                <iron-scroll-threshold id="threshold" lower-threshold="200" on-lower-threshold="load">
                </iron-scroll-threshold>
            </paper-header-panel>
        </paper-drawer-panel>

        <!-- Dialog used for displaying a message, if the user is not signed in properly -->
        <paper-dialog id="notLoggedInDialog" class="travis-dialog" entry-animation="scale-up-animation" modal
                      withBackdrop>
            <h2>Something went wrong!</h2>
            <div>
                Either your session has expired or you are not signed in to Travis. Want to sign in?
            </div>
            <div class="buttons">
                <paper-button dialog-confirm focused on-tap="redirectToSignIn">SIGN IN</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: "start-screen-page",

            properties: {
                /**
                 * The current page of loaded data (used for paging).
                 */
                page: {
                    type: Number,
                    value: 0
                },

                /**
                 * Number of items that should be requested per page.
                 */
                pageSize: {
                    type: Number,
                    value: 10
                },

                /**
                 * Holds all loaded entries.
                 */
                entries: {
                    type: Array,
                    value: []
                },

                /**
                 * Indicates, whether user is authenticated or not.
                 */
                isAuthenticated: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates, whether page is in entry loading mode.
                 */
                isLoading: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Indicates, whether entries are available or not.
                 */
                isEmpty: {
                    type: Boolean,
                    value: true
                }
            },

            /**
             * Called after property values are set and local DOM is initialized.
             */
            ready: function () {
                // Set the scroll target for dynamic loading of content
                this.$.threshold.scrollTarget = this.$.bodypanel.scroller;

                var self = this;
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '424417961088918',
                        cookie: true,
                        xfbml: true,
                        version: 'v2.5',
                    });

                    // When Facebook SDK is loaded, execute following method
                    self.authenticate();
                };
            },

            /**
             * Called on every page load. Checks, if the user is logged into
             * facebook and has a session id.
             */
            authenticate: function () {
                var self = this;

                if (typeof(sessionStorage) !== "undefined" && sessionStorage.getItem(SESSION_ID) != null) {
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            // Execute any further code
                            self.authenticated();
                        } else {
                            // Invalidate
                            self.invalidateSession();

                            // The person is not valid signed in
                            window.location.href = "index.html";
                        }
                    });
                } else {
                    // Invalidate
                    this.invalidateSession();

                    // The person is not valid signed in
                    window.location.href = "index.html";
                }
            },

            /**
             * Removes all session related items out of the session storage.
             */
            invalidateSession: function () {
                // Check, if sessionStorage is available
                if (typeof(sessionStorage) !== "undefined") {
                    sessionStorage.removeItem(SESSION_ID);
                    sessionStorage.removeItem(USER_ID);
                    sessionStorage.removeItem(USER_FIRST_NAME);
                    sessionStorage.removeItem(USER_LAST_NAME);
                    sessionStorage.removeItem(USER_ME_ID);
                }

                // Not authenticated anymore
                this.isAuthenticated = false;

                // Hide Loading Spinner
                this.isLoading = false;
            },

            /**
             * Called, when the user has been successfully authenticated.
             */
            authenticated: function () {
                // Authenticated
                this.isAuthenticated = true;

                // Load data
                this.load();
            },

            /**
             * Requests start screen data from the backend.
             */
            load: function () {
                // Check, if the user is not authenticated.
                if (!this.isAuthenticated) {
                    this.$.threshold.clearTriggers();
                    return;
                }

                // Show Loading Spinner
                this.isLoading = true;

                // Check, if user is still signed in to Facebook
                var self = this;
                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        // Get API
                        var TRAVIS = require('travis');
                        var apiInstance = new TRAVIS.UserInfoApi();

                        // Get session
                        var sessionId = sessionStorage.getItem(SESSION_ID);

                        // Set request options
                        var opts = {
                            'page': self.page,          // page for paging (starts with 0)
                            'pageSize': self.pageSize,  // pageSize for paging
                            'pImgWidth': 128,            // Width of the profile image
                            'pImgHeight': 128            // Height of the profile image
                        };

                        // Callback for response
                        var callback = function (error, data, response) {
                            if (response.forbidden) {
                                // Not valid login
                                self.invalidateSession();
                                self.$.notLoggedInDialog.open();
                                return;
                            }

                            if (response.statusCode == 200) {
                                // Load data from response into entries array
                                self.fill(data);
                            }
                        }

                        // Get data
                        apiInstance.getUserMainPage(sessionId, opts, callback);
                    } else {
                        // Not valid login
                        self.invalidateSession();
                        self.$.notLoggedInDialog.open();
                        return;
                    }
                });
            },

            /**
             * Invoked, when a response on data request arrives from the backend.
             *
             * @param error An error message, if an error occurred.
             * @param data The data part of the response
             * @param response The actual response
             */
            fill: function (data) {
                // Hide Loading Spinner
                this.isLoading = false;

                // Check, if data is OK
                if (data != null && data.length > 0) {

                    // Push items into array (used for displaying data)
                    var idx;
                    for (idx in data) {
                        this.push('entries', data[idx]);
                    }

                    // Increment next load size (for paging)
                    this.page += 1;

                    // Disable 'Empty screen' (only visible, when no entries available)
                    this.isEmpty = true;
                } else {
                    if (this.entries.length == 0) {
                        // If no entries are available, display 'Empty screen'
                        this.isEmpty = false;
                    }
                }

                // Clear Scrolling Threshold Triggers
                this.$.threshold.clearTriggers();
            },

            /**
             * Checks the type of an entry.
             *
             * @param type The type, for which the item should be checked.
             * @param item The item that should be checked.
             * @returns {boolean} True, if item equals the provided type, otherwise false.
             */
            checkEntry: function (type, item) {
                switch (type) {
                    case 'picture':
                        if (item.diaryEntry.hasOwnProperty('pictureElement')) {
                            return true;
                        }
                        break;
                    case 'location':
                        if (item.diaryEntry.hasOwnProperty('coordinatesElement') && !item.diaryEntry.hasOwnProperty('pictureElement')) {
                            return true;
                        }
                        break;
                    case 'text':
                        if (item.diaryEntry.hasOwnProperty('textElement')
                                && !item.diaryEntry.hasOwnProperty('coordinatesElement')
                                && !item.diaryEntry.hasOwnProperty('pictureElement')) {
                            return true;
                        }
                        break;
                    default:
                        return false;
                }

                return false;
            },

            /**
             * Redirects the user to the login page.
             */
            redirectToSignIn: function () {
                window.location.replace("index.html");
            }
        });
    </script>
    <script src="../js/facebookSDK.js"></script>
</dom-module>

