<dom-module id="diary-entry-style">
    <template>
        <style>
            .main-content {
                padding-bottom: 5em;
            }

            #banner {
                background-color: var(--travis-color-primary-light);
                opacity: 0.38;

                width: 100%;
                height: 15em;
            }

            .diary-page {
                margin-top: 7em;
                width: 100%;
                padding-bottom: 2em;
            }

            .info-section {
                text-align: center;
            }

            .info-section h2 {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 2.0em;
                color: var(--travis-color-primary);
                opacity: var(--content-opacity-primary);

                margin-top: 2em;
                margin-bottom: 0;
            }

            .info-section .divider {
                width: 15%;
                height: 3px;
                background-color: rgba(0, 0, 0, var(--content-opacity-divider));
                margin: 1.5em auto;
            }

            .info-section .secondary-info {
                text-align: center;
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 0.8em;
                color: rgba(0, 0, 0, var(--content-opacity-secondary));
            }

            .info-section .secondary-info .info-highlight {
                font-weight: 400;
            }

            .content {
                margin-top: 2em;
                margin-bottom: 2em;
                padding: 0 2em;
            }

            .content .element {
                margin-top: 1.5em;
                margin-bottom: 0em;
            }

            .content .text-element {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 0.9em;
                line-height: 1.5;
                color: rgba(0, 0, 0, var(--content-opacity-primary));
                text-align: justify;
            }

            .content .picture-element {
                width: 100%;
                height: 200px;
            }

            .content .map-element {
                width: 100%;
                height: 200px;
            }
        </style>
    </template>
</dom-module>