<dom-module id="navigation-style">
    <template>
        <style>
            paper-toolbar.main-bar {
                background-color: var(--travis-color-primary);
            }

            #search {
                width: 50%;
                position: absolute;
                top: 25%;
                left: 25%;
            }

            .main-bar .title {
                flex: none;
            }

            @media (max-width: 768px) {
                #search {
                    width: 100%;
                    margin-right: 0px;
                    position: relative;
                    top: 0px;
                    left: 0px;
                }

                .title {
                    display: none;
                }
            }
        </style>
    </template>
</dom-module>