<dom-module id="search-style">
    <template>
        <style>
            :host {
                box-sizing: border-box;
                position: relative;

                display: block;
            }

            #notLoggedInDialog paper-button {
                color: var(--travis-color-primary);
            }

            .search-input-wrapper {
                position: relative;
            }

            #searchinput {
                box-sizing: border-box;

                width: 100%;
                padding: 0.5em;

                border: 0px none !important;
                border-radius: 2px;
                opacity: 0.54;
                @apply(--paper-font-body1);
                color: rgba(0, 0, 0, var(--dark-primary-opacity));
            }

            #searchinput:focus {
                opacity: 1;
                transition: opacity ease-in 0.2s;
                outline: none;
            }

            #search-ripple {
                color: #fff;
                opacity: 1;
            }

            #suggestionsWrapper {
                position: absolute;
                z-index: 1000;

                width: 100%;
                margin-top: 1%;

                border-radius: 2px;
                background-color: white;
                color: rgba(0, 0, 0, var(--dark-primary-opacity));

                display: none;
            }

            #suggestionsWrapper .result-link {
                text-decoration: none;
                color: rgba(0, 0, 0, var(--content-opacity-primary));
            }

            #suggestionsWrapper .result-link:focus {
                text-decoration: none;
                color: rgba(0, 0, 0, var(--content-opacity-primary));
            }

            #suggestionsWrapper .result-link:active {
                text-decoration: none;
                color: rgba(0, 0, 0, var(--content-opacity-primary));
            }

            #suggestionsWrapper .result {
                cursor: pointer;
            }

            #suggestionsWrapper .item-icon {
                --iron-icon-height: 48px;
                --iron-icon-width: 48px;

                border-radius: 50%;
                overflow: hidden;
            }

            #suggestionsWrapper .item-body {
                margin-left: 4%;
                color: rgba(0, 0, 0, var(--content-opacity-primary));
            }

            #suggestionsWrapper #moreResults {
                border-top: 1px solid rgba(0, 0, 0, var(--dark-divider-opacity));
                padding-top: 0.7em;
                padding-bottom: 0.7em;
                display: none;
            }

            #suggestionsWrapper #noResults {
                padding-top: 0.7em;
                padding-bottom: 0.7em;
                display: none;
            }

            #suggestionsWrapper #noResults #errorIcon {
                color: rgba(0, 0, 0, var(--dark-secondary-opacity));
            }
        </style>
    </template>
</dom-module>