<dom-module id="shared-style">
    <template>
        <style>
            .no-select {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Chrome/Safari/Opera */
                -khtml-user-select: none; /* Konqueror */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }

            ::selection {
                background: rgba(112, 41, 99, 0.54);
            }

            ::-moz-selection {
                background: rgba(112, 41, 99, 0.54);
            }

            .travis-dialog paper-button {
                color: var(--travis-color-primary);
            }

            .body-content {
                background-color: #F2F2F2;
            }

            .primary-ripple {
                color: var(--travis-color-primary);
            }

            #progress {
                width: 100%;
                z-index: 1000;

                --paper-progress-active-color: var(--travis-color-accent);
            }

            .bottomFab {
                position: absolute;
                bottom: 16px;
                right: 16px;
            }

            .main-content {
                margin: 0 auto;
                width: 70%;

                max-width: 800px;
            }

            @media (max-width: 768px) {
                .main-content {
                    width: 95%;
                }
            }
        </style>
    </template>
</dom-module>