<dom-module id="side-bar-style">
    <template>
        <style>

            .side-bar-wrapper {
                display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox; /* TWEENER - IE 10 */
                display: -webkit-flex;
                display: flex;

                min-height: 100%;
                flex-direction: column;
            }

            .side-bar-top {
                position: relative;
                height: 150px;
                cursor: pointer;
            }

            .side-bar-top #sideBarBanner {
                width: 100%;
                height: 150px;
                background-color: var(--travis-color-primary-light);
            }

            .side-bar-top .top-content {
                padding-left: 16px;
                position: absolute;
                bottom: 0px;
                width: 100%;

                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.38) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.38) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
            }

            .side-bar-top .top-content .profile-img-wrapper {
                display: block;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                border: 7px solid rgba(0, 0, 0, var(--content-opacity-divider));
            }

            .side-bar-top .top-content .profile-img-wrapper iron-image {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }

            .side-bar-top .top-content #side-user-name {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 400;
                font-size: 0.9em;
                color: rgba(255, 255, 255, var(--content-opacity-primary));
            }

            .button-section {
                -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
                -moz-box-flex: 1; /* OLD - Firefox 19- */
                -webkit-flex: 1; /* Chrome */
                -ms-flex: 1; /* IE 10 */
                width: 100%;
                flex: 1;
            }

            paper-icon-item {
                color: rgba(0, 0, 0, var(--content-opacity-primary));
                cursor: pointer;
            }

            paper-icon-item iron-icon {
                color: rgba(0, 0, 0, var(--content-opacity-secondary));
            }

            paper-icon-item[focused] iron-icon {
                color: var(--travis-color-primary);
            }

            .bottom-section {
                border-top: 1px solid rgba(0, 0, 0, var(--content-opacity-divider));
            }
        </style>
    </template>
</dom-module>