<dom-module id="start-screen-style">
    <template>
        <style>
            .main-content {
                margin-top: 5em;
            }

            @media (max-width: 768px) {
                .main-content {
                    margin-top: 1em;
                }
            }

            #loadingSpinner {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;

                --paper-spinner-color: var(--travis-color-primary);
            }

            #emptyView {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            #emptyView iron-icon {
                width: 50%;
                height: 50%;
                color: rgba(0, 0, 0, var(--content-opacity-divider));
            }

            #emptyView #emptyTitle {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 100;
                font-size: 5vmin;
                color: rgba(0, 0, 0, var(--content-opacity-primary));
                margin-bottom: 16px;
            }

            #emptyView #emptySubtitle {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 100;
                font-size: 3vmin;
                color: rgba(0, 0, 0, var(--content-opacity-secondary));
                margin-top: 0px;
            }
        </style>
    </template>
</dom-module>