<dom-module id="start-entry-text-style">
    <template>
        <style>
            .entry .entry-content {
                cursor: pointer;
                padding: 0 16px 16px 16px;
            }

            /* ********** Entry Text ********** */

            .entry .entry-info .entry-title {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 1.5em;

                margin-top: 0px;
                margin-bottom: 4px;

                color: var(--travis-color-primary);
                opacity: 0.87;
            }

            .entry .entry-info .entry-subtitle {
                margin-top: 0px;
                margin-bottom: 16px;

                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 1em;

                color: rgba(0, 0, 0, var(--content-opacity-secondary));
            }

            .entry .entry-content-text {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 0.8em;
                text-align: justify;
                line-height: 1.5;

                color: rgba(0, 0, 0, var(--content-opacity-primary));
            }
        </style>
    </template>
</dom-module>