<dom-module id="start-entry-picture-style">
    <template>
        <style>
            .entry .entry-content {
                cursor: pointer;
            }

            .entry .entry-image {
                width: 100%;
                height: 250px;
                position: relative;

                background-color: var(--travis-color-primary-light);
            }

            /* ********** Entry Text ********** */

            .entry .entry-info {
                width: 100%;
                position: absolute;
                bottom: 4px;

                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
            }

            .entry .entry-info .entry-title {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 1.5em;

                margin-top: 16px;
                margin-bottom: 4px;
                margin-left: 16px;

                color: rgba(255, 255, 255, var(--content-opacity-primary));
            }

            .entry .entry-info .entry-subtitle {
                margin-left: 16px;
                margin-top: 0px;
                margin-bottom: 16px;

                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 1em;

                color: rgba(255, 255, 255, var(--content-opacity-secondary));
            }
        </style>
    </template>
</dom-module>