<dom-module id="start-entry-style">
    <template>
        <style>
            .entry {
                width: 48%;
                margin-bottom: 16px;
                margin-right: 1%;
                vertical-align: middle;
                text-align: left;
            }

            @media (max-width: 768px) {
                .entry {
                    width: 100%;
                    margin-right: 0px;
                }
            }

            .entry .card-content {
                padding: 0px;
            }

            /* ********** Entry Header ********** */

            .entry .profile-info {
                padding: 16px;
                white-space: nowrap;
                overflow: hidden;
            }

            .entry .profile-info-img-container {
                display: inline-block;
                vertical-align: middle;
                perspective: 1px; /* Workaround for Google Chrome border-radius issue */
            }

            .entry .profile-info-img {
                width: 50px;
                height: 50px;
                border-radius: 25px;
            }

            .entry .profile-info-text {
                display: inline-block;
                vertical-align: middle;
                margin-left: 16px;
            }

            .entry .profile-info-text p {
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .entry .profile-info-text .profile-info-author {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 1em;
                color: rgba(0, 0, 0, var(--content-opacity-primary));

                margin-bottom: 8px;
                cursor: pointer;
            }

            .entry .profile-info-text .profile-info-date {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 300;
                font-size: 0.8em;

                color: rgba(0, 0, 0, var(--content-opacity-secondary));
            }

            /* ********** Card Actions ********** */

            .entry .card-actions paper-icon-button {
                color: rgba(0, 0, 0, var(--content-opacity-secondary));
            }

            .entry .card-actions .comment-count {
                color: rgba(0, 0, 0, var(--content-opacity-secondary));
            }

            .entry .entry-content {
                position: relative;
            }

        </style>
    </template>
</dom-module>